<div class="container-fluid " style="background-color: #151B54;">
  <nav class="navbar navbar-expand-lg bg-transparent p-3 ">
    <div class="container">
      <button class="btn mx-2" style="background-color: #FFA500;">انشاء حساب</button>
      <button class="btn mx-2" style="background-color: grey;">تسجيل دخول</button>
      <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav ms-md-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link text-white mx-2" aria-current="page" href="#">انشر اقتراحاً</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mx-2" href="#">التدوينات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mx-2" href="#">الخدمات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mx-2" href="#">الشركات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mx-2" routerLink="page">الوظائف</a>
          </li>
          
        </ul>
        <span class="navbar-text  ms-md-auto">
          <img src="../assets/projectpicture.PNG" class="w-100" alt="">
        </span>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>